@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  padding-top: 40px;
  background-color: black;
  color: white;
}

footer a {
  display: flex;
  justify-content: center;
}

.Container {
  @extend %flex-center;
  flex-direction: column;
}

.LogoFooter {
  padding-bottom: 30px;
}

span {
  width: 100%;
  text-align: center;
}
