@import './_variables';
@import './mixins';
@import './placeholders';

.Gallery {
  @extend %flex-center;
  padding: 25px 0;
  margin: 10px 60px;
  background-color: $color-clearGrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 25px;
  -webkit-animation: SHOW-BOX 2.5s ease-in-out;
  -moz-animation: SHOW-BOX 2.5s ease-in-out;
  -o-animation: SHOW-BOX 2.5s ease-in-out;
  animation: SHOW-BOX 2.5s ease-in-out;
  }