@import "./variables";
@import "./mixins";
@import "./placeholders";

.Header {
  width:1440px;
  font-size: 1.6em;
  margin: 0px auto;
  margin-top: 10px;
}

.Header a {
  text-decoration: none;
  color: $primary-color;
}

.Header ul a:first-child {
  margin-right: 20px;
}

.LinkList, Header {
  display: flex;
  align-items: center;
}

.LinkList {
  float: right;
}

.NavTop {
  width: 100%;
}
