@import "./styles/_variables";
@import "./styles/mixins";
@import "./styles/placeholders";

:root {
  padding: 0;
}

body{
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

.Centred {
  @extend %flex-center;
  align-items: center;
  flex-direction: column;
  width:1440px;
  margin: 0px auto;
  flex-grow: 1;
}
